.Links {
  opacity: 0;
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  background-color: var(--darker-easy-black);
  gap: 1vw;
  animation: fade-in 0.8s ease-in forwards;
  box-shadow: 0px -5px 10px 1px rgba(0, 0, 0, 0.75);
}

.Links::after {
  content: "";
  display: flex;
  align-self: center;
  min-width: 30vw;
  height: 1px;
  margin: 0px;
  background-color: var(--aqua-blue);
}

.Links::before {
  content: "";
  display: flex;
  align-self: center;
  min-width: 30vw;
  height: 1px;
  margin: 0px;
  background-color: var(--aqua-blue);
}


.Github-sec {
  display: flex;
  align-items: center;
}

.Linkedin-sec {
  display: flex;
  align-items: center;
}

.Email-sec {
  display: flex;
  align-items: center;
  gap: 0.5vw;
  cursor: pointer;
}

.Email-sec p {
  transition: transform 0.3s ease-in;
}

.Email-sec span {
  position: absolute;
  color: var(--aqua-blue);
  top: -20px;
  right: 42vw;
  animation: fade-up 0.3s ease-in;
}

.Email-sec:hover svg,
.Email-sec:hover p{
  transform: translateY(-4px);
  stroke: var(--aqua-blue);
  color: var(--aqua-blue);
}

@keyframes fade-in {
  0% {
    opacity: 0;
    transform: translate(-4px, -4px);
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}

svg {
  stroke: var(--light-white);
  transition: transform 0.3s ease-in;
}

svg:hover {
  transform: translateY(-4px);
  stroke: var(--aqua-blue);
}

@keyframes fade-up {
  0% {
    opacity: 0;
    transform: translateY(4px);
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}
