.App {
  text-align: center;
}

 main {
  min-height: 70vh;
  min-width: 70vw;
  margin: 13vh 15vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

header {
  position: fixed;
  justify-content: center;
  height: 7vh;
  top: 0px;
  width: 100%;
  background-color: var(--darker-easy-black);
  z-index: 1;
}

footer {
  position: fixed;
  justify-content: center;
  height: 7vh;
  bottom: 0px;
  width: 100%;
  background-color: var(--darker-easy-black);
}

.Main-component{
  min-width: 100%;
  position: relative;
}

.span-previous {
  position: fixed;
  left: 5%;
  padding: 40vh 0px 40vh 0px;
  display: flex;
  cursor: pointer;
  z-index: 2;
}

.span-next {
  position: fixed;
  right: 5%;
  padding: 40vh 0px 40vh 0px;
  display: flex;
  cursor: pointer;
  z-index: 2;
}

.span-previous svg,
.span-next  svg {
  stroke: var(--light-white);
  transition: transform 0.3s ease-in;
}

.span-previous svg:hover  , 
.span-next svg:hover {
  transform: translateY(-4px);
  stroke: var(--aqua-blue);
}

/* Estilizando a barra de rolagem */
::-webkit-scrollbar {
  width: 6px; /* Largura da barra de rolagem */
}

/* Cor do fundo da barra de rolagem */
::-webkit-scrollbar-track {
  background-color: #00000;
}

/* Cor do preenchimento da barra de rolagem */
::-webkit-scrollbar-thumb {
  background-color: var(--aqua-blue);
}

/* Cor do preenchimento da barra de rolagem ao passar o mouse sobre ela */
::-webkit-scrollbar-thumb:hover {
  background-color: #27B3AF;
}
